.Products-card{
    width: 416px;
    height: 428px;
    background: #FFFFFF;
    border: 2px solid rgba(255, 132, 75, 0.4);
    box-sizing: border-box;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px;
}
.Products-card:hover{
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.10);
    width: 416px;
    height: 428px;
    background: #FFFFFF;
    border: 2px solid rgba(255, 132, 75, 0.4);
    box-sizing: border-box;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px;
}
.place-location{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}
.place-img{
    height: 24px;
    width: 24px;
}
.place-text{
    font-weight: 600;
    margin: 0px 0px 0px 12px;
    font-size: 16px;
    line-height: 21px;
    color: #313131;
}
.Products-name{
    font-weight: 800;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.Products-img{
    width: 372px;
    height: 180px;
    border-radius: 16px;
    margin: 12px 0px;
}
.Pdcts-img{
    width: 372px;
    height: 180px;
    border-radius: 16px;
    object-fit: cover;
}
.Products-feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
}
.Pdct-activitis{
    margin: 0px 22px;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.Pdct-places{
    margin: 0px 22px;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 0px 10px;
}
.Pdct-duration{
    margin: 0px 22px;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 0px 10px;
}
.Pdcts-price-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Pdct-price{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.Pdct-price-tag{
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin: 0;
}
.Pdct-price-type{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0;
}
.Pdct-btn{
    width: 142px;
    height: 48px;
    background: rgba(255, 132, 75, 0.2);
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FF844B;
}
.Pdct-btn:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
    width: 142px;
    height: 48px;
    background: rgb(255, 132, 75);
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}